* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
  
  }
  body{
    background: silver;
    font-family: 'Roboto', sans-serif;
  }
  
  .container{
    text-align: center;
    width: 360px;
    margin: 60px auto;
    padding: 0px 40px;
  }
  
  img {
    width: 100%;
  }
  
  img.avatar{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 4px;
    border: rebeccapurple solid 4px;
  }
  h1{
    font-size: 32px;
    color: black;
    margin-top: 24px;
    margin-bottom: 10px;
  }
  
  .username{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    opacity: 0.8;
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    margin: 48px 0;
  }
  
  ul li a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rebeccapurple;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 500ms;
  }
  
  ul li a:hover {
    background: black;
  }
  
  footer{
    font-weight: 500;
    font-size: 12px;
    color: black;
    opacity: 0.6;
  }
  footer a{
    color: black;
  }